@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Abel", sans-serif;
}
body nav {
  background: #e9e2e2;
  padding: 7px 30px;
}
@media only screen and (max-width: 320px) {
  body nav h3 {
    width: 100%;
    text-align: center;
  }
  body nav h3::before {
    content: "";
  }
  body nav h3::after {
    content: "";
  }
}
body nav .menu {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 320px) {
  body nav .menu {
    display: none;
  }
}
body nav ul {
  margin: 5px;
}
body nav ul li {
  list-style: none;
  float: left;
  padding: 0px 22px;
}
body nav ul picture {
  width: 20px;
  float: left;
  margin-left: -20px;
}
@media only screen and (max-width: 320px) {
  body nav #right-side-nav {
    display: none;
  }
}
body nav #right-side-nav input {
  color: gray;
  height: 30px;
}
body nav #right-side-nav input::placeholder {
  color: gray;
  padding-left: 7px;
}
body nav #right-side-nav button {
  margin: 0px 8px;
  background: #398bf7;
  color: white;
  border: none;
  padding: 7px 12px;
}
body nav::after {
  clear: both;
  display: block;
  content: "";
}
body h3 {
  font-family: "Cedarville Cursive", cursive;
  float: left;
  font-weight: bolder;
  letter-spacing: -1px;
}
body h3::after {
  clear: both;
  display: block;
  content: "";
}
body a {
  text-decoration: none;
  color: #1cb4f0;
}
body a:hover {
  background: whitesmoke;
  padding: 8px;
}
@media only screen and (max-width: 320px) {
  body a {
    font-size: 13px;
  }
}
body button {
  cursor: pointer;
}
body button:hover {
  padding: 12px;
  font-size: 17px;
}

#pages ul {
  display: flex;
}
#pages li {
  list-style: none;
  padding: 5px;
}
@media only screen and (max-width: 320px) {
  #pages li {
    padding: 2px;
  }
}
#pages li:nth-child(3) > a {
  color: #adaaaa;
}
#pagesli:last-of-type > a {
  color: black;
}

.links,
.second-row {
  display: flex;
}

#first-sec {
  display: inline-block;
  width: 60%;
}
@media only screen and (max-width: 768px) {
  #first-sec {
    width: 100%;
    display: block;
  }
}

#big-pic {
  border: 1px solid gray;
  padding: 4px;
  margin: 7px 0px;
}
#big-pic img {
  width: 100%;
  filter: brightness(0.5);
}

.first-sec-imgs {
  display: flex;
}
@media only screen and (max-width: 320px) {
  .first-sec-imgs div:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .first-sec-imgs div:nth-child(4) {
    display: none;
  }
}

main {
  padding: 11px 25px;
}
@media only screen and (max-width: 320px) {
  main {
    padding: 10px;
  }
}
main hr:nth-child(4) {
  margin-top: 40px;
  width: 100%;
}
@media only screen and (max-width: 320px) {
  main hr:nth-child(4) {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 320px) {
  main hr:last-of-type {
    margin-top: 15px;
    width: 100%;
  }
}
main aside {
  float: right;
  width: 38%;
}
@media only screen and (max-width: 768px) {
  main aside {
    width: 100%;
    float: none;
    margin: 10px;
  }
}
@media only screen and (max-width: 320px) {
  main aside {
    margin: 0;
  }
}
main aside::after {
  clear: both;
  display: block;
  content: "";
}
@media only screen and (max-width: 320px) {
  main aside h2 {
    padding: 15px 0px;
  }
}
main aside div {
  margin: 10px 0px;
}
@media only screen and (max-width: 320px) {
  main aside div {
    margin: 0;
  }
}
main aside p {
  padding: 8px 0px;
  width: 95%;
}
@media only screen and (max-width: 320px) {
  main aside p {
    font-size: 13px;
    width: 100%;
    padding: 0;
  }
}
main aside button {
  padding: 15px 0px;
  background: #1cb4f0;
  border: none;
  color: white;
  font-size: 15px;
  margin: 4.5px 0px;
  width: 100%;
}
@media only screen and (max-width: 320px) {
  main aside .size-input {
    margin-top: 20px;
  }
}
main aside .size-input select {
  display: block;
  width: 100%;
  height: 27px;
  margin: 7px 2px;
  color: #a39797;
  background: rgba(245, 245, 245, 0.459);
}
main aside .quantity-part {
  padding: 20px 0px;
}
@media only screen and (max-width: 768px) {
  main aside .quantity-part {
    display: flex;
  }
}
main aside .quantity-part input {
  height: 27px;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  main aside .quantity-part input {
    width: 100%;
    margin-left: 10px;
  }
}
main aside .social {
  border: none;
  color: white;
  background: gray;
  padding: 5.5px;
  width: 31%;
}
@media only screen and (max-width: 768px) {
  main aside .social {
    display: none;
  }
}

#second-sec {
  border: 1px solid gray;
  display: inline-block;
  margin-top: 18px;
}
@media only screen and (max-width: 320px) {
  #second-sec hr {
    margin-top: 0;
  }
}
#second-sec .page {
  padding: 10px;
}
#second-sec .page a {
  color: #398bf7;
  padding: 7px 0px;
}
#second-sec .page:nth-child(2) {
  background: rgba(226, 225, 225, 0.986);
}
#second-sec .second-row {
  justify-content: space-around;
  margin: 4px 10px;
}
#second-sec .second-row article {
  margin: 18px;
  width: 17%;
}
@media only screen and (max-width: 768px) {
  #second-sec .second-row article {
    margin: 10px;
    width: auto;
  }
  #second-sec .second-row article:nth-child(4) {
    display: none;
  }
  #second-sec .second-row article:nth-child(5) {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  #second-sec .second-row article:nth-child(3) {
    display: none;
  }
}
#second-sec .second-row article::after {
  clear: both;
  display: block;
  content: "";
}
#second-sec .second-row h4 {
  padding: 11px 0px;
}
#second-sec .second-row h4 span {
  font-weight: normal;
  color: #bdbcbc;
}
#second-sec .second-row button {
  border: 1px solid #1cb4f0;
  background: none;
  color: #1cb4f0;
  padding: 3px;
  width: 90%;
  margin: 11px 0px 20px 0px;
}

.pics {
  padding: 3px;
  border: 1px solid grey;
  margin-right: 6px;
}
.pics .overlay {
  display: none;
}
.pics:hover {
  position: relative;
}
.pics:hover .overlay {
  position: absolute;
  top: 38%;
  left: 19%;
  display: block;
  color: rgba(255, 255, 255, 0.548);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.pics img {
  width: 100%;
}

footer {
  display: flex;
  padding: 11px 25px;
}
footer h3 {
  font-weight: bolder;
}
footer li {
  list-style: none;
  float: left;
  padding: 6px 22px;
}
footer li::after {
  clear: both;
  display: block;
  content: "";
}
@media only screen and (max-width: 320px) {
  footer {
    display: block;
  }
  footer ul {
    float: right;
  }
  footer ul::after {
    clear: both;
    display: block;
    content: "";
  }
  footer ul li {
    float: left;
    padding: 10px;
  }
  footer ul li:nth-child(1) {
    display: none;
  }
}

/*# sourceMappingURL=store-style.css.map */
