* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Abel", sans-serif;
}
body nav {
  background: #e9e2e2;
  padding: 7px 30px;
}
@media only screen and (max-width: 660px) {
  body nav {
    text-align: center;
  }
}
body nav ul {
  margin: 5px;
}
@media only screen and (max-width: 660px) {
  body nav ul {
    display: flex;
    justify-content: center;
    margin: 0px;
  }
}
@media only screen and (max-width: 430px) {
  body nav ul {
    display: inline-block;
    text-align: center;
  }
}
body nav ul li {
  list-style: none;
  float: left;
  padding: 0px 22px;
}
body nav ul img {
  width: 20px;
  float: left;
  margin-left: -20px;
}
@media only screen and (max-width: 338px) {
  body nav ul img {
    margin-left: -11px;
  }
}
body nav #right-side-nav {
  float: right;
}
@media only screen and (max-width: 660px) {
  body nav #right-side-nav {
    float: none;
    margin-top: 11px;
    margin-left: 60px;
  }
}
@media only screen and (max-width: 430px) {
  body nav #right-side-nav {
    margin-left: 0px;
  }
}
body nav #right-side-nav input {
  color: gray;
  height: 30px;
}
body nav #right-side-nav input::placeholder {
  color: gray;
  padding-left: 7px;
}
body nav #right-side-nav button {
  margin: 0px 8px;
  background: #398bf7;
  color: white;
  border: none;
  padding: 7px 12px;
}
body nav::after {
  clear: both;
  display: block;
  content: "";
}
body h3 {
  font-family: "Cedarville Cursive", cursive;
  float: left;
  font-weight: bolder;
  letter-spacing: -1px;
}
@media only screen and (max-width: 430px) {
  body h3 {
    float: none;
    padding: 10px 0px 17px 0px;
  }
}
body a {
  text-decoration: none;
  color: #1cb4f0;
}
body a:hover {
  background: whitesmoke;
  padding: 8px;
}
body button {
  cursor: pointer;
}
body button:hover {
  padding: 12px;
  font-size: 17px;
}

#pages ul {
  display: flex;
}
@media only screen and (max-width: 338px) {
  #pages ul {
    display: block;
    text-align: center;
  }
}
#pages li {
  list-style: none;
  padding: 5px;
}
@media only screen and (max-width: 338px) {
  #pages li {
    padding: 0 11px;
  }
}
#pages li:nth-child(3) > a {
  color: #adaaaa;
}
#pagesli:last-of-type > a {
  color: black;
}

.links,
.second-row {
  display: flex;
}

#first-sec {
  display: inline-block;
  width: 60%;
}
@media only screen and (max-width: 660px) {
  #first-sec {
    width: 100%;
  }
}

#big-pic {
  border: 1px solid gray;
  padding: 4px;
  margin: 7px 0px;
}
#big-pic img {
  width: 100%;
}

.first-sec-imgs {
  display: flex;
}

main {
  padding: 11px 25px;
}
@media only screen and (max-width: 430px) {
  main {
    padding: 11px 4px;
  }
}
main hr:nth-child(4) {
  margin-top: 40px;
  width: 100%;
}
main hr:last-of-type {
  margin-top: 20px;
}
main aside {
  float: right;
  width: 32%;
  padding: 15px;
}
@media only screen and (max-width: 840px) {
  main aside {
    display: block;
    float: none;
    width: 100%;
  }
}
main aside::after {
  clear: both;
  display: block;
  content: "";
}
main aside div {
  margin: 10px 0px;
}
@media only screen and (max-width: 880px) {
  main aside div {
    margin: 0;
  }
}
main aside p {
  padding: 8px 0px;
  width: 95%;
}
main aside .quantity {
  padding: 20px 0px;
}
@media only screen and (max-width: 840px) {
  main aside .quantity {
    width: 35%;
    margin: auto;
  }
}
@media only screen and (max-width: 660px) {
  main aside .buy {
    width: 55%;
    margin: auto;
  }
  main aside .buy button {
    width: 100%;
  }
}
main aside button {
  padding: 15px 0px;
  background: #1cb4f0;
  border: none;
  color: white;
  font-size: 15px;
  margin: 4.5px 0px;
  width: 95%;
}
@media only screen and (max-width: 840px) {
  main aside button {
    width: 35%;
    margin: auto;
  }
}
main aside .size-input select {
  display: block;
  width: 95%;
  height: 27px;
  margin: 7px 2px;
  color: #a39797;
  background: rgba(245, 245, 245, 0.459);
}
main aside .quantity input {
  height: 27px;
  width: 120px;
}
@media only screen and (max-width: 840px) {
  main aside .quantity input {
    display: block;
  }
}
main aside .social {
  border: none;
  color: white;
  background: gray;
  padding: 5.5px;
  width: 31%;
}
@media only screen and (max-width: 880px) {
  main aside .social {
    display: block;
    width: 100%;
    margin: 5px 0px;
  }
}
@media only screen and (max-width: 840px) {
  main aside .social {
    width: 35%;
    margin: 7px auto;
  }
}

#second-sec {
  border: 1px solid gray;
  display: inline-block;
  margin-top: 18px;
}
#second-sec .page {
  padding: 11px;
}
#second-sec .page a {
  color: #398bf7;
  padding: 7px 0px;
}
#second-sec .page:nth-child(2) {
  background: rgba(226, 225, 225, 0.986);
}
#second-sec .second-row {
  justify-content: space-around;
  margin-top: 15px;
}
@media only screen and (max-width: 660px) {
  #second-sec .second-row {
    display: inline-block;
  }
}
#second-sec .second-row article {
  width: 17%;
}
@media only screen and (max-width: 660px) {
  #second-sec .second-row article {
    width: 50%;
    float: left;
  }
}
#second-sec .second-row article::after {
  clear: both;
  display: block;
  content: "";
}
#second-sec .second-row h4 {
  padding: 11px 0px;
}
#second-sec .second-row h4 span {
  font-weight: normal;
  color: #bdbcbc;
}
#second-sec .second-row button {
  border: 1px solid #1cb4f0;
  background: none;
  color: #1cb4f0;
  padding: 3px;
  width: 90%;
  margin: 11px 0px 30px 0px;
}

.pics {
  padding: 3px;
  border: 1px solid grey;
  margin-right: 6px;
}
.pics img {
  width: 100%;
}

footer {
  padding: 11px 25px;
}
footer h3 {
  float: left;
  font-weight: bolder;
  letter-spacing: -1px;
}
footer h3::after {
  clear: both;
  display: block;
  content: "";
}
footer li {
  list-style: none;
  float: left;
  padding: 0px 22px;
}
@media only screen and (max-width: 338px) {
  footer ul {
    margin-left: 0px;
  }
  footer ul li {
    float: none;
    padding: 0 55px;
  }
}

/*# sourceMappingURL=store-style.css.map */
